.searchbox {
    display: flex;
    justify-content: center;
}

.search {
    margin-bottom : 15px;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
    border-color: gray;
}